/* to change the size of the nav buttons,
we need to match the width and height on lines 6/7 & 23/24 */

.nav-buttons {
  position: relative;
  display: inline-flex;
  width: 120px;
  height: 35px;
  perspective: 1000px;
}

.nav-buttons-link {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}

.nav-buttons-link::before,
.nav-buttons-link::after {
  position: absolute;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #cd1ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign-out-content::before,
.sign-out-content::after {
  content: "Sign Out";
}

.sign-in-content::before,
.sign-in-content::after {
  content: "Sign In";
}

.play-as-guest::before,
.play-as-guest::after {
  content: "Play as Guest";
  width: 200px;
}

.wide-button {
  width: 200px;
  margin-left: 0.25rem;
}

/* translateZ also need to match on lines 63 & 57 */
.nav-buttons-link::before {
  color: white;
  transform: rotateY(0deg) translateZ(15px);
}

.nav-buttons-link::after {
  color: white;
  background: #cd1ccc;
  transform: rotateX(90deg) translateZ(15px);
}

.nav-buttons-link:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
