/* to change the size of the nav buttons,
we need to match the width and height on lines 6/7 & 23/24 */

.nav-buttons {
  position: relative;
  display: inline-flex;
  height: 35px;
  perspective: 1000px;
}

.nav-buttons-link {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}

.nav-buttons-link::before,
.nav-buttons-link::after {
  position: absolute;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #cd1ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign-out-content::before,
.sign-out-content::after {
  content: "Sign Out";
}

.sign-in-content::before,
.sign-in-content::after {
  content: "Sign In";
}

.sign-up-content::before,
.sign-up-content::after {
  content: "Sign Up";
}

.play-as-guest::before,
.play-as-guest::after {
  content: "Play as Guest";
}

.wide-button {
  margin-left: 0.25rem;
}

/* translateZ also need to match on lines 40 & 45 */
.nav-buttons-link::before {
  color: white;
  transform: rotateY(0deg) translateZ(15px);
}

.nav-buttons-link::after {
  color: white;
  background: #cd1ccc;
  transform: rotateX(90deg) translateZ(15px);
}

.nav-buttons-link:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* rainbow light buttons */

.buttons {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  border: 2px solid #cd1ccc;
  transition: all 0.1s linear;

  /* padding-top: 20px;
  padding-bottom: 20px;
  width: 10rem; */
  text-align: center;
}

.buttons:hover {
  border: 2px solid transparent;
}

.buttons:hover span {
  position: absolute;
  display: block;
}

.register:hover span {
  position: absolute;
  display: block;
}

.buttons:hover span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #00f393);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.buttons:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e6efff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.buttons:hover span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #cd1ccc);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }

  50%,
  100% {
    right: 100%;
  }
}

.buttons:hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* THIS IS THE DIVIDER FOR THE REGISTER BUTTON */

.register {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  color: #e6efff;
  border: 3px solid #cd1ccc;
  transition: all 0.1s linear;
  padding: 10px;
  text-align: center;
  min-height: 2.8rem;
}

.register:hover {
  border: 3px solid transparent;
}

/* .register:hover span {
  position: absolute;
  display: block;
} */

.register:hover span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #00f393);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.register:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e6efff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.register:hover span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #cd1ccc);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }

  50%,
  100% {
    right: 100%;
  }
}

.register:hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* THIS IS THE CIRCLE COUNT-DOWN ANNIMATION (PIE) */

/* INSERT INTO REACT WITH THE FOLLOWING HTML
<div class="chart">A</div>
*/

@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}

.chart {
  color: #00f393;
  font-size: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(rgb(159, 170, 192, 0) var(--percentage), #9faac0 0);
  border-radius: 50%;
  border: 5px solid #00f393;
  width: 80vmin;
  height: 80vmin;
  animation: timer 4s infinite linear;
}

@keyframes timer {
  to {
    --percentage: 100%;
  }
}
