.full-height {
  height: 100vh;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.blue-radial {
  background: rgb(0, 20, 108);
  background: radial-gradient(circle, rgba(0, 20, 108, 1) 48%, rgba(0, 2, 9, 1) 97%);
}

.full-width {
  width: 100%;
}

.column {
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.margin-left {
  margin-left: 1rem;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: #00f393;
}

.pink {
  color: #cd1ccc;
}

.white {
  color: #e6efff;
  font-family: Roboto, sans-serif;
}

.overflow {
  overflow: scroll;
  height: 175px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-40 {
  margin-top: 40px;
}

.test-margin {
  margin: 7px;
}
